table, td {
	border: 0px solid black;
	border-collapse: collapse;
	width: inherit;
	padding: 5px;
}

tr > td:first-child {
	text-align: right;
	vertical-align: text-top;
}

.main {
	width: 535px;
	margin: auto;
	border: 1px solid black;
}

.radio {
	text-align: left;
	width: 124px;
	height: 20px;
	vertical-align: auto;
	padding: 2px;
	margin-left: 4px;
}

input.ident, input.masked {
	width: 124px;
	height: 16px;
	padding: 2px;
}

div.ui-datepicker {
	font-size: 10px;
}

.thumbnail {
	width: 140px;
	margin: auto;
}

.submitBTN {
	width: 125px;
	padding: 3px;
	height: 25px;
}

.label {
	font-weight: 600;
	font-family: 'Trebuchet MS';
}

h1 {
	font-family: 'Trebuchet MS';
}

.MasterPageTitre {
    font-weight: bold;
    color:black;
}

hr {
    display:block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:dotted;
    border-width: 2px;
}

.AccountFullname {		
	position:absolute; 
	right: 110px;
	top: 10px;
}

.UserAccountPicture {
	position:absolute; 
	width: 90px;
	height: 90px;
	margin: auto;
	right: 20px;
	top: 10px;
}

        .Tableau:first-child td {
            border-collapse: collapse;
            border: 1px solid black;
            font-family:Arial;
            font-size:12px;
            padding:5px;
        }
        .Tableau tr:first-child td {
            color:black;
            background-color:lightgray;
        }